{% extends 'base.html.twig' %}

{% block title %}SymphArt Articles{% endblock %}

{% block body %}
    <div id="app">
        {% if articles %}
            <table id="articles" class="table table-striped">
                <thead>
                <tr>
                    <th>Article Title</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>
                            <a href="/article/{{ article.id }}">{{ article.title }}</a>
                        </td>
                        <td>
                            <a href="/article/{{ article.id }}" class="btn btn-dark">Show</a>
                        </td>
                        <td>
                            <a href="/article/edit/{{ article.id }}" class="btn btn-light">Edit</a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="/article/new" type="button" class="btn btn-primary">Create Article</a>


        {% else %}
            <h2 class="text-center">No Articles to display</h2>

            <a href="/article/new" type="button" class="btn btn-primary">Create Article</a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
